/* CSS declarations go here */
body {
  background: #eee;
}

svg {
  border: solid;
  border-color: gray;
  border-style: solid;
  padding-top: -10px;
}
.jumbotron { 
  font: 12px Arial;
  background: #eee;
}

.jumbotron #header {
}

.jumbotron #index {
  margin-top: -10px;
}

.jumbotron .not-found {
  text-align: center;
}

#index > h1, h3 {
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 20px;
  text-align: center;
}

#spinner {
  height: 300px; 
}

#file_upload {
  text-shadow: 1px black;
}

.page-header {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 27px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-decoration: underline;
  margin-top: 20px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.text {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

.text.note {
  font-weight: bold;
  font-size: 15px;
}



/*path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}*/

.axis path,
.axis line,
.line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

#index {
  position: relative;
  background: no-repeat url('index.jpg') 50% / 100%;
}

#index > img {
  padding-top: -60px;
  margin-top: -150px;
  vertical-align: top;
  width: 100%; /* max width */
  opacity: 0;  /* make it transparent */
}

#index > div {
  position: relative;
  left: 0px;
  top: 0px;
  float: bottom;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.x.axis path {
/* Uncomment below if I want to remove x-axis line */
/*  display: none;*/
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

