<template name='upload'>
  <div class='container-fluid'>
    <h4 class='page-header'>Upload a CSV</h4>
    <p class='text'> You are able to upload csv files into the database, which will create an id based on the filename.</p>
    <p class='text note'> Note: You cannot load the same file name twice into the database. </p>

    {{#unless uploading}}
      <input type='file' name='uploadCSV' id='file_upload'>
    {{else}}
    <p><i class='fa fa-spin fa-refresh'></i> Uploading files...</p>
    {{/unless}}
  </div>
</template>